    body {  
        margin: 0;
        background-color: rgb(237, 237, 237);
        }

    html {
        margin: 0;
        padding:15vh ;
        }
    

    
    .nun{
        position: relative;
        left: 100px;
        top: 300px;
        }

    .fileSubmitted{
        display:none;
    }

    #submitButton{
        display: block;
        width: 230px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
        background: rgb(237, 237, 237);;
        border-radius: 3px;
        border: 0;
        transition: all 0.3s ease-in-out;
        font-size: 18px;
        font-style: italic;
        color: #C1C1C1;
    }
    
    #submitButton:hover {
        background: rgb(200, 162, 162);
    }

    .file_list {
        list-style-type: none;
        display:grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 10px;
        padding-top: 25px;
        width: 100%;
    }

    .file_li{
      display:inline-block;
      white-space: nowrap;
      padding-top: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 13ch;
    }

    .file_a{
        font-style: italic;
        color: #C1C1C1;
        font-weight: 400;
        font-size: 20px;
    }

    .text{
        font-size: 1.5rem;
        margin-left:16rem;
        margin-top: 2rem;
        font-style: italic;
        color: rgb(110, 110, 110);
    }

    ul.nav-bar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #ddf4f9;
        color: e5e4e4
        width: 100%;
    }

    li.nav-bar {
        float: left;
        color: white;
        text-decoration: none;
        font-size: 17px;
        width: 50%; /* Three links of equal widths */
        text-align: center;
    }

    li a.nav-bar {
        display: block;
        color: rgb(110, 110, 110);
        text-align: center;
        padding: 30px 0px;
        text-decoration: none;
    }

    li a.nav-bar:hover {
        background-color: #606060;
        transition: all 0.3s ease-in-out;
    }
  
    .main_container{
        left: 50%;
        top: 50%;
        width: 900px;
        height: 600px;
        margin: 0 auto;
        background: rgb(251, 251, 251);
        box-shadow: 4px 8px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    }

    .file_form{
        margin: 50px auto;
        border: 5px dashed rgba(198, 198, 198, 0.65);
        width: 350px;
        height: 250px;
        padding: 20px;
    }

    .file_container{
        height: 100%;
        width: 100%;
        
    }

    .drag_text{
        margin: -30px 0px 0px 40px;
        font-style: italic;
        color: #C1C1C1;
        font-weight: 400;
        font-size: 20px;
    }

    input::file-selector-button {
    margin: 180px 30px 100px 80px;    
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
}

.logout-btn{
  position:relative;
  left:-220px;
  width:70px;
  background-color: #C1C1C1;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 5px;
  &:hover {
      background-color: #ff3333;
      color: white;
  }
}






/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column; 
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}


@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }

  .li .tooltip{
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
  }
  .tooltip:hover{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
  }
  .tooltip{
    display: none;
  } 
}