<ul class="file_list" id="main_list">
    <!--Logic control (for-loops)-->
    {% for file in files %}
        <li class="file_li"><a href="/files/{{file}}" class="file_a">{{file}} </a></li>
    {% endfor %}
</ul>
