html, body {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  margin: 0;
  background-color: rgb(237, 237, 237);

}

html {
  display: table;
  margin: auto;
}

.login-page{
  box-sizing: border-box;
  position: relative;
  width: 900px;
  height: 600px;
  background: #ddf4f9;
  border: 3px solid #FFFFFF;
  box-shadow: 4px 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.create_account{
  position: absolute;
  width: 200px;
  height:45px;
  inset: 70px 486px 555px 38px;
  white-space: nowrap;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;

  color: #000000;

}

.white-area{
  position: absolute;
  width: 530px;
  height: 100%;
  
  inset: 0px 54px 100px 370px;
  
  background: #FFFFFF;
  border-radius: 30px;

}

a:link { text-decoration: none; }

a{
  color: #606060;
}

a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; } 

.background-extra{
  position: absolute;
  width: 646.03px;
  height: 607px;
  left: 468px;
  top: 32px;
}

.octo{
  position: absolute;
  width: 300px;
  height: 22px;
  inset: 100px 450px 389px 100px;

  font-family: 'Righteous';
  font-style: italic;
  color: #C1C1C1;
  font-weight: 400;
  font-size: 40px;
  line-height: 22px;
  text-align: center;
}

.fill_area{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 250px;
  height: 169px;
  inset: 200px 180px 176px 140px;
}

input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  font-style: italic;
  color: #C1C1C1;
  padding:10px;
  margin:10px 0;
}

input[type=password] {
  background: transparent;
  border: none;
  font-style: italic;
  color: #C1C1C1;
  border-bottom: 1px solid #000000;
  padding:10px;
  margin:10px 0;
}

.password_shown_button{
  position: absolute;
  border: none;
  cursor: pointer;
  
  background-color: inherit;
  inset: 110px 0px 0px 225px;
  
}
.showpass{
    color: #a8a8a8;
    font-style: italic;
    text-align: right; 
}

.signin-btn{
  position: absolute;
  width: 163px;
  height: 51px;
  inset: 370px 110px 87px 170px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  

  font-style: italic;
  color: #C1C1C1;
  background: #FFFFFF;
  border: 1px solid #C1C1C1 ;
  border-radius: 10px;
  cursor: pointer;
}

.signin_text{
  margin: auto;
  width: 50%;
  font-size: 16px;
}

.create-btn:focus{
  outline: none;
}


.container_signin{
  position: absolute;
  font-style: italic;
  color: #C1C1C1;
  inset: 440px 0px 0px 155px;
}

