{# html, body {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  margin: 0;
  background-color: #E4E9F7;
}

html {
  display: table;
  margin: auto;
}

.login-page{
  box-sizing: border-box;
  position: relative;
  height: 600px;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background: rgb(251, 251, 251);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.create_account{
  position: absolute;
  width: 200px;
  height:45px;
  inset: 70px 486px 555px 38px;
  white-space: nowrap;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  color: #000000;
}

.white-area{
  position: absolute;
  width: 50%;
  height: 100%;
  box-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.20);
  

  border-radius: 6px;
}

a:link { text-decoration: none; }

a{
  color: #606060;
}

a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; } 

.background-extra{
  position: absolute;
  width: 646.03px;
  height: 607px;
  left: 468px;
  top: 32px;
}

.octo{
  position: absolute;
  width: 300px;
  height: 22px;
  inset: 100px 450px 389px 100px;

  font-family: 'Righteous';
  font-style: italic;
  color: #C1C1C1;
  font-weight: 400;
  font-size: 40px;
  line-height: 22px;
  text-align: center;
}

.fill_area{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 250px;
  height: 169px;
  inset: 200px 180px 176px 140px;
}

input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  font-style: italic;
  color: #C1C1C1;
  padding:10px;
  margin:10px 0;
}

input[type=password] {
  background: transparent;
  border: none;
  font-style: italic;
  color: #C1C1C1;
  border-bottom: 1px solid #000000;
  padding:10px;
  margin:10px 0;
}

.password_shown_button{
  position: absolute;
  border: none;
  cursor: pointer;
  background-color: inherit;
  inset: 110px 0px 0px 225px;
  
}
.showpass{
    color: #a8a8a8;
    font-style: italic;
    text-align: right; 
}

.signin-btn{
  position: absolute;
  width: 163px;
  height: 51px;
  inset: 370px 110px 87px 170px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  

  font-style: italic;
  color: #C1C1C1;
  background: #FFFFFF;
  border: 1px solid #C1C1C1 ;
  border-radius: 10px;
  cursor: pointer;
}

.signin_text{
  margin: auto;
  width: 50%;
  font-size: 16px;
}

.create-btn:focus{
  outline: none;
}


.container_signin{
  position: absolute;
  font-style: italic;
  color: #C1C1C1;
  inset: 440px 0px 0px 155px;
}

.login-page {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
} #}
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background:#E4E9F7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
  color: #6871fc;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #6871fc;
	background-color: #6871fc;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  cursor: pointer; 
  transition-property: background-color, color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

button:active {
	transform: scale(0.95);
}

button:hover {
  border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
}

button.ghost {
	background-color: #FFFFFF;
	border-color: #6871fc;
  transition-property: background-color, color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
button.ghost:hover{
  background-color: #FF4B2B;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #6871fc;
	background: -webkit-linear-gradient(to right, #6871fc, #6892fc);
	background: linear-gradient(to right, #6871fc, #6892fc);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}

