<ul class="nav-bar">
        <li class="nav-bar"><a class="nav-bar" href="/files">Files</a></li>
        <li class="nav-bar"><a class="nav-bar" href="/upload">Upload</a></li>
        {# <li class="nav-bar"><a class="nav-bar" href="/login">Login</a></li> #}
</ul>