<!DOCTYPE html>
<html lang="en">
{% block header %}
<head>
    <meta charset="UTF-8">
    <title>Cloudy</title>
</head>
{% endblock %}

<body> 
  {% extends "main_layout.njk" %}
    {% block mainbody %}
    
        <div class="login-page">
            <div class="white-area">              
                <h1 class="octo">Cloudy</h1>
                <form method="post">
                    <div class="fill_area">
                        <!-- Username -->
                        <input type="text" placeholder="Name" name="username" id="nameInp" class="form_name">
                        <!-- Password -->
                        <input type="password" placeholder="Password" name="password" id="passInp" class="form_password">
                        <!-- Submit button -->
                        <input type="checkbox" onclick="password_show()" class="password_shown_button">
                        <p class="showpass">Show Password</p>
                    </div>
                        <!-- Sign In buttons -->
                        <button type="submit" class="signin-btn" id="create-btn">
                            <p class="signin_text">Sign in</p>
                        </button> 
                </form>  

                <div class="container_signin">
                    <p>Not a member? <a href="/register">Register</a>.</p>
                </div>
            </div>  
        </div>
    {% endblock %}

    {% block footer %}
    {% endblock %}
</body>

<script>
    {% block script %}
        function password_show() {
            let x = document.getElementById("passInp");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }

        let input = document.getElementById("passInp");
        input.addEventListener("keypress", function(event) {
            if (event.key === "Enter") {
                event.preventDefault();
                document.getElementById("create-btn").click();
            }
        });
    {% endblock script %}
</script>

<style>
    {% block style %}
        {% include "./partials/logincss.njk" %}
    {% endblock style%}
</style>


