<!DOCTYPE html>
<html lang="en">
{% block header %}
<head>
    <meta charset="UTF-8">
    <title>Hello {{name}}</title>
</head>
{% endblock %}
<body>
    {% block mainbody %}
        Default body missing
    {% endblock %}
    {% block footer %}
        <p class="nun">Made with Nunjucks</p>
    {% endblock %}
</body>

<style>
    {% block style %}
        {% include "./partials/css.njk" %}
    {% endblock style%}
</style>

<script>
{% block script %}
{% endblock script %}
</script>
</html>