<!DOCTYPE html>
<html lang="en">
{% block header %}
<head>
    <meta charset="UTF-8">
    <title>Cloudy</title>
    <script src="https://kit.fontawesome.com/064290b4dc.js" crossorigin="anonymous"></script>
</head>
{% endblock %}

<body>
    {% block mainbody %}
      <div class="container" id="container">
        <div class="form-container sign-in-container">
          <form method="post">
            <h2>Cloudy</h2>
            <div class="social-container">
              <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
              <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>Sorry Oauth↑ doesn't work yet</span>
            <input type="text" placeholder="Name" name="username" />
            <input type="password" placeholder="Password" name="password" />
            <a href="#"></a>
            <button type="submit" class="submit-bt">Sign Up</button>
          </form>
        </div>
        <div class="overlay-container">
          <div class="overlay">
            <div class="overlay-panel overlay-left">
              <h1>Welcome Back!</h1>
              <p>To keep connected with us please login with your personal info</p>
              <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
              <h1>Hello, Cloudyer!</h1>
              <p>You already have an account?</p>
              <button class="ghost" id="signUp"><a href="/">Sign In</a></button>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
    
    {% block footer %}
    {% endblock %}
</body>

<script>
{% block script %}
        function password_show() {
            let x = document.getElementById("passInp");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
        let input = document.getElementById("passInp");
        input.addEventListener("keypress", function(event) {
            if (event.key === "Enter") {
                event.preventDefault();
                document.getElementById("create-btn").click();
            }
        });
{% endblock script %}
</script>

<style>
    {% block style %}
        {% include "./partials/logincss.njk" %}
    {% endblock style%}
</style>